/* MOBILE */

@media screen and (min-width: 426px) {
    .container {
        max-width: 396px;
    }
}

/* TABLET */

@media screen and (min-width:768px) {
    .container {
        max-width: 766px;
    }

    /* Advantages */

    .advantage-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .advantage-title {
        justify-content: left;
    }

    .advantage-item {
        width: calc((100% - 24px) / 2);
    }

    /* Team */

    .team-container {
        /* padding-left: 108px;
        padding-right: 108px; */
        max-width: 582px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        /* text-align: center; */
        row-gap: 64px;
        justify-content: center;
    }

    .team-item {
        width: 264px;
        margin: 0 auto;
        width: calc((100% - 24px) / 2);
    }

    /* Customers */
    .customers-section {
        margin-left: auto;
        margin-right: auto;
    }

    .customers-container {
        /* padding-left: 108px;
        padding-right: 108px; */
        max-width: 582px;
    }

    .customers-list {
        gap: 24px;
        row-gap: 72px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    /* Footer */

    .footer-super-container {
        max-width: 582px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 24px;
        /* text-align: start; */
        align-items: flex-start;
        row-gap: 72px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-container {
        margin-left: 0px;
    }

    .footer-soc-container {
        margin-right: auto;
        margin-left: 0;
    }

    .footer-form-container {
        max-width: 453px;
    }

    .footer-form-text {
        margin-bottom: 16px;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-soc-text {
        text-align: start;
    }

}

/* DESKTOP */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* Advantages */

    .advantage-section {
        padding: 120px 0;
    }

    .advantage-container {
        min-width: 1128px;
        padding-left: 0;
        padding-right: 0;
    }

    .advantage-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }

    .advantage-feature {
        display: flex;
    }

    .advantage-item {
        width: calc((100% - 72px) / 4);
    }

    /* Activities */

    .activities-section {
        display: flex;
    }

    /* Team */

    .team-section {
        padding: 120px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .team-container {
        padding-left: 0;
        padding-right: 0;
    }

    .team-list {
        display: flex;
        flex-wrap: no-wrap;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    /* Customers */

    .customers-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        display: flex;
        flex-wrap: no-wrap;
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 120px) / 6);
    }
}