/* MOBILE */

@media screen and (min-width: 426px) {
    .container {
        max-width: 396px;
    }
}

/* TABLET */

@media screen and (min-width:768px) {
    .container {
        max-width: 766px;
    }

    .menu-open-btn {
        display: none;
    }

    .logo-studio {
        color: var(--title-color-one);
    }

    .page-list {
        display: flex;
        gap: 40px;
        margin-left: 120px;
    }

    .contacts {
        display: flex;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: center;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .contacts-item {
        display: flex;
    }

    .page-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .page-link.current:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background: #404BBF;
        border-radius: 2px;
    }

    .current {
        color: #404BBF;
    }

    .page-link:hover,
    .page-link:focus {
        color: #404bbf;
    }

    .contacts {
        font-style: normal;
    }

    .contacts-link {
        font-style: normal;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color-one);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }

    /* Hero */
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
        min-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .hero-container {
        max-width: 526px;
        height: auto;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.11;
        margin-bottom: 36px;
        max-width: 496px;
        height: 120px;
        padding-left: 0;
        padding-right: 0;
    }

    /* Advantages */

    .advantage-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .advantage-title {
        justify-content: left;
    }

    .advantage-item {
        width: calc((100% - 24px) / 2);
    }

    /* Team */

    .team-container {
        max-width: 582px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .team-item {
        width: 264px;
        margin: 0 auto;
        width: calc((100% - 24px) / 2);
    }

    /* Customers */
    .customers-section {
        margin-left: auto;
        margin-right: auto;
    }

    .customers-container {
        max-width: 582px;
    }

    .customers-list {
        gap: 24px;
        row-gap: 72px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    /* Footer */

    .footer-super-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 592px;
        width: 100%;
    }

    .footer-container {
        gap: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: 264px;
        margin-left: 0;
        align-items: start;
        margin-right: 0;
        margin-bottom: 0;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-soc-container {
        width: 208px;
        height: 80px;
        align-items: start;
        padding-left: 0;
    }

    .footer-form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 453px;
        height: 80px;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0px;
        margin-left: 0;
    }

    .footer-form-text {
        padding-bottom: 16px;
    }

    .footer-modal-form {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 24px;
    }

    .email-form {
        width: 264px;
    }

    .footer-email {
        min-width: 264px;
    }

    .modal {
        max-width: 408px;
        max-height: 584px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* Header */

    .header-container {
        display: flex;
        align-items: flex-start;
        justify-content: left;
    }

    .header-navigation {
        display: flex;
        align-items: start;
    }

    .logo-studio {
        color: var(--title-color-one);
    }

    .page-list {
        display: flex;
        gap: 40px;
        margin-left: 76px;
    }

    .contacts {
        margin-left: auto;
    }

    .contacts-link {
        font-size: 16px;
    }

    .contacts-list {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24x;
    }

    .contacts-item {
        display: flex;
    }

    .contacts {
        font-style: normal;
    }

    /* Hero */
    .hero {
        background-color: var(--background-color-one);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
        }
    }

    */ .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        max-width: 496px;
    }

    /* Advantages */

    .advantage-section {
        padding: 120px 0;
    }

    .advantage-container {
        min-width: 1128px;
        padding-left: 0;
        padding-right: 0;
    }

    .advantage-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }

    .advantage-feature {
        display: flex;
    }

    .advantage-item {
        width: calc((100% - 72px) / 4);
    }

    .advantage-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 8px;
    }

    .advantage-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color-one);
    }

    /* Activities */

    .activities-section {
        display: flex;
        padding-bottom: 120px;
    }

    .activities-container {
        min-width: 1158px;
        padding-left: 0;
        padding-right: 0;
    }

    .activities {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color-one);
        margin-bottom: 72px;
    }

    .activities-list {
        display: flex;
        align-items: center;
        gap: 24px;
        width: 100%;
    }

    .activities-item {
        width: calc((100% - 48px) / 3);
    }

    /* Team */

    .team-section {
        padding: 120px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .team-container {
        padding-left: 0;
        padding-right: 0;
    }

    .team-list {
        display: flex;
        flex-wrap: no-wrap;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    /* Customers */

    .customers-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        display: flex;
        flex-wrap: no-wrap;
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 120px) / 6);
    }

    /* Footer */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-super-container {
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-container {
        max-width: 264px;
        margin-bottom: 0px;
    }

    .footer-soc-container {
        min-width: 208px;
        height: 80px;
        margin-right: 80px;
        margin-left: 120px;
    }

    .footer-form-container {
        min-width: 453px;
        height: 80px;
        align-items: flex-start;
        justify-content: left;
        flex-wrap: nowrap;
        gap: 0px;
        margin-right: 0;
    }

    .footer-form-text {
        margin-left: 0;
    }

    .footer-email {
        min-width: 264px;
    }

    /* Modal */

    .modal {
        max-width: 408px;
        max-height: 584px;
    }
}