:root {
    --title-color-one: #2e2f42;
    --title-color-two: #ffffff;
    --text-color-one: #434455;
    --text-color-two: #f4f4fd;
    --background-color-one: #2e2f42;
    --background-color-two: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 100%;
    /* max-width: 426px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/* Header */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-studio {
    color: var(--title-color-one);
}

.page-list {
    display: flex;
    gap: 40px;
}

.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-item {
    display: flex;
}

.page-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-link.current:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #404BBF;
    border-radius: 2px;
}

.page-link:hover,
.page-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-one);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* Hero */

.hero {
    background-color: var(--background-color-one);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color-two);
    margin-bottom: 72px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* Advantages */

.advantage-section {
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
}

.advantage-container {
    min-width: 396px;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
    width: 100%;
}

.advantage-title {
    display: flex;
    justify-content: center;
}

.advantage-feature {
    display: none;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

.advantage-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
}

.advantage-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-one);
}

/* Activities */

.activities-section {
    display: none;
}

/* Team */

.team-section {
    background-color: var(--background-color-two);
    padding: 96px 0;
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color-one);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    margin-left: auto;
    margin-right: auto;
}

.name {
    display: block;
    padding: 32px 16px;
    margin-left: auto;
    margin-right: auto;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-one);
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-one);
    text-align: center;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-icon {
    fill: #f4f4fd;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf
}

/* Customers */

.customers {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color-one);
    margin-bottom: 72px;
}

.customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-container {
    max-width: 396px;
    padding-left: 0;
    padding-right: 0;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
    row-gap: 72px;
    width: 100%;
}

.customers-item {
    width: 100%;
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    color: #404bbf;
    border-color: #404bbf;
}

.customers-icon {
    fill: currentColor;
}


/* Portfolio */


/* Buttons */

.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-list {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.button-item {
    font-family: inherit;
    background-color: var(--text-color-two);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
    background-color: #404bbf;
    color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */

.bar-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
    row-gap: 48px;
}

.bar-content {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.bar-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-one);
    margin-bottom: 8px;
    text-align: center;
}

.bar-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-one);
    text-align: center;
}

.bar-overlay {
    position: relative;
    overflow: hidden;
}

.bar-cover-text {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    left: 0;
    top: 0;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar-link:hover .bar-cover-text,
.bar-link:focus .bar-cover-text {
    transform: translate(0, 0);
}

.bar-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar-link:hover,
.bar-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Footer */

.footer {
    background-color: var(--background-color-one);
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
}

.footer-super-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 72px;
    /* flex-wrap: wrap;
    align-items: center;
    gap: 72px;
    max-width: 428px; */
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    /* gap: 16px; */
    /* 1 */
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    /* 2 */
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: var(--text-color-two);
    /* 4 */
}

.logo-studio-footer {
    color: var(--text-color-two);
    /* 3 */
}

.footer-soc-container {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 7 */
}

.footer-soc-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color-two);
    /* 7 */
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    /* 5 */
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* 6 */
}

.footer-soc-icon {
    fill: var(--text-color-two);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
    /* 8 */
}

.footer-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
}

.footer-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 9 */
}

.email-form {
    width: 100%;
    /* 10 */
}

.footer-modal-form {
    display: flex;
    /* gap: 16px; */
}

.footer-modal-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* 11 */
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-email {
    width: 100%;
    min-width: 398px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    /* margin-right: 24px; */
    /* margin-bottom: 16px; */
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* min-width: 398px;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2E2F42;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: transparent; */
}

.footer-email::placeholder {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    /* X */
}

.footer-email:focus {
    border: 1px solid #4D5AE5;
    outline: none;
    /* X */
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    background: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 24px 8px 24px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4D5AE5;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    cursor: pointer; */
}

.subscribe-button:hover,
.footer-btn-form:focus {
    background-color: #404bbf;
}

.footer-send-icon {
    fill: #ffffff;
    margin-left: 16px;
    /* margin-left: 16px;
    background: #4D5AE5;
    color: #ffffff; */
}

/* Modal */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #FFFFFF;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 16px;
}

/* .modal-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 8px;
    padding-left: 24px;
} */

.inputs {
    margin-bottom: 8px;
}

.input-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    width: 360px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    color: #4D5AE5;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-comment {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.check-text {
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.accept-check {
    display: inline-flex;
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text-link {
    color: #4d5ae5;
}

.modal-check:checked+.check-text span {
    background: #404BBF;
    border: 1px solid #404BBF;
    border-radius: 2px;
    fill: #F4F4FD;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.send-button {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}